@{
    ViewBag.Title = "Error";
    Layout = null;
}
<link href="~/css/Style.css" rel="stylesheet" />

<div id="notfound">
    <div class="notfound">
        <p>"Server Error! Please contact administrator."</p>       
    </div>
</div>